body {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: 'Candara', "Gill Sans", Optima, 'trebuchet ms', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #333;
    font-size: 14px;
    background-color: #eeeeee;
}

h1 {
    color: #900;
    #font-family: 'trebuchet ms', 'Candara', "Gill Sans", Optima, Lato, 'Bitstream Vera Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
}
.meta {
    color: #ccc;
    font-size: 14px;
}
.body {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
#tweet {
    width: 600px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #900;
}
li {
    text-align: left;
}
.short {
    font-size: 26px;
}
